<div class="b-section">
    <div class="b-section__container">
        <div class="b-category">
            <div class="b-category__inner">
                <h1 class="b-title-h1 b-title-h1_c-blue b-category__title">
                    Новини
                </h1>
                <div class="b-category__row">
                    <div class="b-col b-col_12 b-category__col">
                        <div class="b-category-card">
                            <div class="b-category-card__inner">
                                <a href="#category" class="b-category-card__image">
                                    <div class="b-category-card__image-inner" style="background-image: url('./assets/img/category-img-1.jpg')"></div>
                                </a>
                                <div class="b-category-card__content">
                                    <a href="#category" class="b-category-card__title">
                                        Гривня зміцнилася до долара та євро
                                    </a>
                                    <div class="b-category-card__meta">
                                        01-07-2021
                                    </div>
                                    <div class="b-category-card__description">
                                        <p>
                                            Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                                        </p>
                                        <p>
                                            Про це йдеться у даних регулятора…
                                        </p>
                                    </div>
                                    <a href="#category" class="b-category-card__trigger">
                                        Читати
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_12 b-category__col">
                        <div class="b-category-card b-category-card_revert">
                            <div class="b-category-card__inner">
                                <a href="#category" class="b-category-card__image">
                                    <div class="b-category-card__image-inner" style="background-image: url('./assets/img/category-img-2.jpg')"></div>
                                </a>
                                <div class="b-category-card__content">
                                    <a href="#category" class="b-category-card__title">
                                        Увага! Нові тарифи
                                    </a>
                                    <div class="b-category-card__meta">
                                        28-06-2021
                                    </div>
                                    <div class="b-category-card__description">
                                        <p>
                                            Iнформуємо, що згідно з рішенням КУАП внесено зміни в тарифних пакетах на обслуговування банківських платіжних карток АТ «АКБ «КОНКОРД»…
                                        </p>
                                    </div>
                                    <a href="#category" class="b-category-card__trigger">
                                        Читати
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_12 b-category__col">
                        <div class="b-category-card">
                            <div class="b-category-card__inner">
                                <a href="#category" class="b-category-card__image">
                                    <div class="b-category-card__image-inner" style="background-image: url('./assets/img/category-img-3.jpg')"></div>
                                </a>
                                <div class="b-category-card__content">
                                    <a href="#category" class="b-category-card__title">
                                        Зміна Універсального договору
                                    </a>
                                    <div class="b-category-card__meta">
                                        08-06-2021
                                    </div>
                                    <div class="b-category-card__description">
                                        <p>
                                            Шановні Клієнти, повідомляємо Вам, що з 10.06.2021 р. набуває чинності нова редакція Універсального договору.
                                        </p>
                                    </div>
                                    <a href="#category" class="b-category-card__trigger">
                                        Читати
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_12 b-category__col">
                        <div class="b-category-card b-category-card_revert">
                            <div class="b-category-card__inner">
                                <a href="#category" class="b-category-card__image">
                                    <div class="b-category-card__image-inner" style="background-image: url('./assets/img/category-img-2.jpg')"></div>
                                </a>
                                <div class="b-category-card__content">
                                    <a href="#category" class="b-category-card__title">
                                        Увага! Нові тарифи
                                    </a>
                                    <div class="b-category-card__meta">
                                        28-06-2021
                                    </div>
                                    <div class="b-category-card__description">
                                        <p>
                                            Iнформуємо, що згідно з рішенням КУАП внесено зміни в тарифних пакетах на обслуговування банківських платіжних карток АТ «АКБ «КОНКОРД»…
                                        </p>
                                    </div>
                                    <a href="#category" class="b-category-card__trigger">
                                        Читати
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_12 b-category__col">
                        <div class="b-category-card">
                            <div class="b-category-card__inner">
                                <a href="#category" class="b-category-card__image">
                                    <div class="b-category-card__image-inner" style="background-image: url('./assets/img/category-img-1.jpg')"></div>
                                </a>
                                <div class="b-category-card__content">
                                    <a href="#category" class="b-category-card__title">
                                        Гривня зміцнилася до долара та євро
                                    </a>
                                    <div class="b-category-card__meta">
                                        01-07-2021
                                    </div>
                                    <div class="b-category-card__description">
                                        <p>
                                            Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                                        </p>
                                        <p>
                                            Про це йдеться у даних регулятора…
                                        </p>
                                    </div>
                                    <a href="#category" class="b-category-card__trigger">
                                        Читати
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-category__row">
                    <div class="b-col b-col_12 b-category__col"></div>
                    <div class="b-col b-col_12 b-category__col">
                        <div class="b-category__pagination">
                            <div class="b-pagination">
                                <a href="#1" class="b-pagination__arrow b-pagination__arrow_prev b-pagination__arrow_disable"></a>
                                <div class="b-pagination__list">
                                    <a href="#1" class="b-pagination__item b-pagination__item_active">1</a>
                                    <a href="#2" class="b-pagination__item">2</a>
                                    <a href="#3" class="b-pagination__item">3</a>
                                    <a href="#4" class="b-pagination__item">4</a>
                                    <a href="#5" class="b-pagination__item">5</a>
                                    <a href="#6" class="b-pagination__item">6</a>
                                    <a href="#" class="b-pagination__item b-pagination__item_disable">...</a>
                                </div>
                                <a href="#100" class="b-pagination__arrow b-pagination__arrow_next"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>