<div class="b-section b-section_bgc-light">
    <div class="b-section__container">
        <div class="b-category-list">
            <div class="b-category-list__inner">
                <div class="b-title-h3 b-title-h3_c-green b-category-list__title">
                    Нові статті
                </div>
                <div class="b-category-list__list">
                    <div class="b-group-slider">
                        <div class="b-group-slider__list" data-slide-to-show="4"
                             data-group-slider-list="blog-new-articles">
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини №1 </a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини розділу Блог, яке довше, ніж чотири строки тексту…</a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини №3 </a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини розділу Блог, яке довше, ніж чотири строки тексту…</a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини №1 </a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини розділу Блог, яке довше, ніж чотири строки тексту…</a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-group-slider__arrow b-group-slider__arrow_prev"
                             data-group-slider-arrow-prev="blog-new-articles"></div>
                        <div class="b-group-slider__arrow b-group-slider__arrow_next"
                             data-group-slider-arrow-next="blog-new-articles"></div>
                    </div>
                </div>
                <div class="b-category-list__slider">
                    <div class="b-slider">
                        <div class="b-slider__inner">
                            <div class="b-slider__list" data-slider-list="blog-new-articles"
                                 data-slider-slide-to-show="1">
                                <div class="b-slider__item">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини №1 </a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини розділу Блог, яке довше, ніж чотири строки тексту…</a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини №3 </a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини розділу Блог, яке довше, ніж чотири строки тексту…</a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини №1 </a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-text-card b-text-card_bgc-white">
                                        <div class="b-text-card__inner">
                                            <a href="#" class="b-text-card__title">Назва статті в підрозділі Новини розділу Блог, яке довше, ніж чотири строки тексту…</a>
                                            <a href="#" class="b-text-card__trigger">Читати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_prev"
                                 data-slider-arrow-prev="blog-new-articles">
                                @@include("../../../icon/chevron-left.svg")
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_next"
                                 data-slider-arrow-next="blog-new-articles">
                                @@include("../../../icon/chevron-right.svg")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>