<section class="b-section">
    <div class="b-section__container">
        <div class="b-gp-cms">
            <div class="b-gp-cms__inner">
                <h2 class="b-title-h3 b-title-h3_c-green b-gp-cms__title">
                    Оберіть свою CMS
                </h2>
                <div class="b-gp-cms__list">
                    <div class="b-gp-cms__row b-gp-cms__row_jc-center">
                        <a href="#" target="_blank" class="b-col b-col_3 b-col_sm-6 b-col_d-flex b-col_jc-center b-gp-cms__col">
                            <img src="./assets/img/opencart.svg" alt="Opencart logo">
                        </a>
                        <a href="#" target="_blank" class="b-col b-col_3 b-col_sm-6 b-col_d-flex b-col_jc-center b-gp-cms__col">
                            <img src="./assets/img/drupal.svg" alt="Drupal logo">
                        </a>
                        <a href="#" target="_blank" class="b-col b-col_3 b-col_sm-6 b-col_d-flex b-col_jc-center b-gp-cms__col">
                            <img src="./assets/img/joomla.svg" alt="Joomla logo">
                        </a>
                        <a href="#" target="_blank" class="b-col b-col_3 b-col_sm-6 b-col_d-flex b-col_jc-center b-gp-cms__col">
                            <img src="./assets/img/wordpress.svg" alt="Wordpress logo">
                        </a>
                        <a href="#" target="_blank" class="b-col b-col_3 b-col_sm-6 b-col_d-flex b-col_jc-center b-gp-cms__col">
                            <img src="./assets/img/presta-shop.svg" alt="Presta shop logo">
                        </a>
                        <a href="#" target="_blank" class="b-col b-col_3 b-col_sm-6 b-col_d-flex b-col_jc-center b-gp-cms__col">
                            <img src="./assets/img/magento.png" alt="Magento logo">
                        </a>
                        <a href="#" target="_blank" class="b-col b-col_3 b-col_sm-6 b-col_d-flex b-col_jc-center b-gp-cms__col">
                            <img src="./assets/img/1c-bitrix.png" alt="1C bitrix logo">
                        </a>
                    </div>
                </div>
                <div class="b-gray-box b-gp-cms__gray-box">
                    <div class="b-gray-box__inner">
                        <div class="b-title-h3 b-title-h3_c-blue b-title-h3_fw-700 b-gray-box__title">
                            Не знайшли модуля для вашого сайту?
                        </div>
                        <div class="b-gray-box__list">
                            <div class="b-gray-box__row">
                                <div class="b-col b-col_6 b-col_sm-12 b-gray-box__col">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon20.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    Зверніться до наших спеціалістів у <a href="https://web.telegram.org/">Telegram</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-col b-col_6 b-col_sm-12 b-gray-box__col">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon21.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    Скористайтеся API для самостійної розробки, написавши нам на email: <a href="mailto:ecom@concord.ua">ecom@concord.ua</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>