<section class="b-section b-section_gp-cover">
    <div class="b-section__top-right-background" style="background-image: url('./assets/img/google-play-cover-background.png')"></div>
    <div class="b-section__container">
        <div class="b-gp-cover">
            <div class="b-gp-cover__inner">
                <div class="b-gp-cover__row">
                    <div class="b-col b-col_6 b-col_sm-12 b-gp-cover__col">
                        <a href="https://play.google.com/" target="_blank" class="b-gp-cover__logo">
                            <img src="./assets/img/google-play-logo.svg" alt="Google play logo">
                        </a>
                        <div class="b-text-md b-text-md_c-blue b-gp-cover__description">
                            <p>
                                Google Pay - сучасний метод оплати від Google, що став популярним завдяки простоті використання та універсальності (може бути використаний на будь-якому пристрої незалежно від виробника та в будь-якому браузері вашого покупця).
                            </p>
                        </div>
                    </div>
                    <div class="b-col b-col_6 b-col_d-sm-none b-gp-cover__col"></div>
                    <div class="b-col b-col_6 b-col_sm-12 b-gp-cover__col">
                        <div class="b-gray-card">
                            <div class="b-gray-card__inner">
                                <div class="b-gray-card__icons">
                                    <div class="b-gray-card__icons-row">
                                        <div class="b-gray-card__icon">
                                            @@include("../../../icon/icon17.svg")
                                        </div>
                                        <div class="b-gray-card__icon">
                                            @@include("../../../icon/icon18.svg")
                                        </div>
                                    </div>
                                </div>
                                <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                    <p>
                                        Дозволяє збільшити конверсію вашого сайту, тому що покупки здійснюються в «один дотик»
                                        <br> (із використанням технологій розпізнавання відбитку пальця або обличчя — TouchID і FaceID).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_6 b-col_sm-12 b-gp-cover__col">
                        <div class="b-gray-card">
                            <div class="b-gray-card__inner">
                                <div class="b-gray-card__icons">
                                    <div class="b-gray-card__icons-row">
                                        <div class="b-gray-card__icon">
                                            @@include("../../../icon/icon19.svg")
                                        </div>
                                    </div>
                                </div>
                                <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                    <p>
                                        Кнопка оплати Google Pay вже інтегрована з платіжною сторінкою ConcordPay. Додаткові інтеграції та налаштування не потрібні.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_12 b-col_d-flex b-col_jc-center b-gp-cover__col">
                        <a href="https://play.google.com/" target="_blank" class="b-button b-button_sm b-button_green">
                            Підключити оплату Google Pay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>