<section class="b-section b-section_op-cover">
    <div class="b-section__top-right-background"
         style="background-image: url('./assets/img/google-play-cover-background.png')"></div>
    <div class="b-section__container">
        <div class="b-oc-cover">
            <div class="b-oc-cover__inner">
                <a href="https://www.opencart.ru/" class="b-oc-cover__logo">
                    <img src="./assets/img/opencart-logo.svg" alt="Opencart logo">
                </a>
                <h1 class="b-text-md b-text-md_c-blue b-oc-cover__small-title">
                        Модуль оплати для CMS OpenCart.
                </h1>
                <div class="b-text-md b-text-md_c-blue b-oc-cover__description">
                    <p>
                        Налаштуйте оплати на сайті з модулем OpenCart усього в 4 кліка!
                    </p>
                </div>
                <div class="b-oc-cover__row">
                    <div class="b-col b-col_6 b-col_sm-12 b-oc-cover__col">
                        <div class="b-gray-card">
                            <div class="b-gray-card__inner">
                                <div class="b-gray-card__icons">
                                    <div class="b-gray-card__icons-row">
                                        <div class="b-gray-card__icon">
                                            @@include("../../../icon/icon22.svg")
                                        </div>
                                    </div>
                                </div>
                                <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                    <p>
                                        Спеціальний плагін для інтеграції платіжної системи ConcordPay із CMS OpenCart
                                        дозволить приймати платежі картками Visa та Mastercard, а також електронними
                                        гаманцями Apple Pay та Google Pay.
                                    </p>
                                </div>
                                <div class="b-gray-card__logos">
                                    <div class="b-gray-card__logo">
                                        <img src="./assets/img/mc.svg" alt="Mastercard logo">
                                    </div>
                                    <div class="b-gray-card__logo">
                                        <img src="./assets/img/visa.svg" alt="Visa logo">
                                    </div>
                                    <div class="b-gray-card__logo">
                                        <img src="./assets/img/gpay.svg" alt="Google pay logo">
                                    </div>
                                    <div class="b-gray-card__logo">
                                        <img src="./assets/img/apple-pay.svg" alt="Apple pay logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_6 b-col_sm-12 b-oc-cover__col">
                        <div class="b-oc-cover__column">
                            <div class="b-col b-col_12 b-oc-cover__col">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <p>
                                                <a href="#registration">Зареєструйтеся</a> в особистому кабінеті на порталі ConcordPay і завантажте модуль оплати для CMS OpenCart в розділі «Плагіни для CMS».
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-col b-col_12 b-oc-cover__col">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <p>
                                                Спеціалістами підготовлені плагіни для різних версій: opencart-3.0, opencart-2.3, opencart-2.2, opencart-2.0.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>