<section class="b-section b-section_bgc-light">
    <div class="b-section__container">
        <div class="b-oc-cta">
            <div class="b-oc-cta__inner">
                <h3 class="b-title-h3 b-title-h3_c-green b-oc-cta__title">
                    Встановити та налаштувати платіжний модуль OpenCart?
                </h3>
                <div class="b-oc-cta__buttons">
                    <a href="#registration" class="b-button b-button_green b-button_sm b-oc-cta__button">
                        Реєстрація
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>