<section class="b-section b-section_oc-payment-ways">
    <div class="b-section__bottom-left-background" style="background-image: url('./assets/img/open-cart-payment-ways-background.svg')"></div>
    <div class="b-section__container">
        <div class="b-oc-payment-ways">
            <div class="b-oc-payment-ways__inner">
                <h2 class="b-title-h3 b-title-h3_c-green b-oc-payment-ways__title">
                    Способи оплати для OpenCart
                </h2>
                <div class="b-test-md b-text-md_c-blue b-oc-payment-ways__description">
                    <p>
                        Розширте можливості вашого сайту з платіжною системою ConcordPay!
                    </p>
                </div>
                <div class="b-oc-payment-ways__list">
                    <div class="b-oc-payment-ways__row">
                        <div class="b-col b-col_6 b-col_sm-12 b-oc-payment-ways__col">
                            <div class="b-border-card b-border-card_bc-blue">
                                <div class="b-border-card__inner">
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-border-card__title">
                                        Після встановлення платіжного модуля OpenCart вашим клієнтам буде доступна оплата за допомогою:
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-border-card__description">
                                        <p>
                                            - карток Visa та Mastercard;
                                        </p>
                                        <p>
                                            - електронних гаманців Apple Pay та Google Pay
                                        </p>
                                    </div>
                                    <div class="b-border-card__logos">
                                        <div class="b-border-card__logo">
                                            <img src="./assets/img/mc.svg" alt="Mastercard logo">
                                        </div>
                                        <div class="b-border-card__logo">
                                            <img src="./assets/img/visa.svg" alt="Visa logo">
                                        </div>
                                        <div class="b-border-card__logo">
                                            <img src="./assets/img/gpay.svg" alt="Google pay logo">
                                        </div>
                                        <div class="b-border-card__logo">
                                            <img src="./assets/img/apple-pay.svg" alt="Apple pay logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-oc-payment-ways__col">
                            <div class="b-border-card b-border-card_bc-blue">
                                <div class="b-border-card__inner">
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-border-card__title">
                                        Вашему покупцю знадобиться всього кілька кроків для проведення оплати за товар чи послугу:
                                    </div>
                                    <div class="b-text-sm b-text-sm_c-blue b-border-card__description">
                                        <ol>
                                            <li>
                                                Вибрати необхідний товар на сайті.
                                            </li>
                                            <li>
                                                Натиснути на кнопку «Купити» або «Оплатити», яка переводить на захищену банком сторінку оплати checkout.
                                            </li>
                                            <li>
                                                Вибрати зручний спосіб оплати для здійснення платежу.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-test-md b-text-md_c-green b-oc-payment-ways__description">
                    <p>
                        Завдяки плагіну для CMS OpenCart ви зможете збільшити конверсію на сайті вдвічі!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>