<section class="b-section">
    <div class="b-section__container">
        <div class="b-oc-tabs-section">
            <div class="b-oc-tabs-section__inner">
                <h2 class="b-title-h3 b-title-h3_c-blue b-oc-tabs-section__title">
                    Оберіть свою версію CMS, щоб відкрити інструкцію
                </h2>
                <div class="b-oc-tabs-section__tabs-block">
                    <div class="b-tabs" data-tab="cms">
                        <div class="b-tabs__inner">
                            <div class="b-tabs__triggers">
                                <div class="b-tabs__trigger" data-tab-trigger>
                                    OpenCart 1.5
                                </div>
                                <div class="b-tabs__trigger" data-tab-trigger>
                                    OpenCart 2.0-2.2
                                </div>
                                <div class="b-tabs__trigger" data-tab-trigger>
                                    OpenCart 2.3
                                </div>
                                <div class="b-tabs__trigger" data-tab-trigger>
                                    OpenCart 3.0
                                </div>
                            </div>
                            <div class="b-tabs__contents">
                                <div class="b-tabs__content" data-tab-content>
                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 1.5
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-1.jpg"
                                                href="./assets/img/tab-image-1.jpg"
                                                data-fancybox="gallery-1"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-2.jpg"
                                                href="./assets/img/tab-image-2.jpg"
                                                data-fancybox="gallery-1"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <ul>
                                                <li>Зайти в налаштування модуля (кнопка Edit).</li>
                                                <li>Ввести дані, отримані від платіжної системи і зберегти зміни:</li>
                                            </ul>
                                            <ol>
                                                <li>Merchant Account;</li>
                                                <li>Secret key.</li>
                                            </ol>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-3.jpg"
                                                href="./assets/img/tab-image-3.jpg"
                                                data-fancybox="gallery-1"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-tabs__content" data-tab-content>
                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 2.0-2.2
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-1.jpg"
                                                    href="./assets/img/tab-image-1.jpg"
                                                    data-fancybox="gallery-2"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-2.jpg"
                                                    href="./assets/img/tab-image-2.jpg"
                                                    data-fancybox="gallery-2"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-3.jpg"
                                                    href="./assets/img/tab-image-3.jpg"
                                                    data-fancybox="gallery-2"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-tabs__content" data-tab-content>
                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 2.3
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-1.jpg"
                                                    href="./assets/img/tab-image-1.jpg"
                                                    data-fancybox="gallery-3"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-2.jpg"
                                                    href="./assets/img/tab-image-2.jpg"
                                                    data-fancybox="gallery-3"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-3.jpg"
                                                    href="./assets/img/tab-image-3.jpg"
                                                    data-fancybox="gallery-3"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-tabs__content" data-tab-content>
                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 3.0
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-1.jpg"
                                                    href="./assets/img/tab-image-1.jpg"
                                                    data-fancybox="gallery-4"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-2.jpg"
                                                    href="./assets/img/tab-image-2.jpg"
                                                    data-fancybox="gallery-4"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                    src="./assets/img/tab-image-3.jpg"
                                                    href="./assets/img/tab-image-3.jpg"
                                                    data-fancybox="gallery-4"
                                                    alt="Example alt"
                                                    class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-oc-tabs-section__accordion-block">
                    <div class="b-accordion" data-accordion="cms">
                        <div class="b-accordion__list">
                            <div class="b-accordion__item">
                                <div class="b-accordion__item-trigger" data-accordion-trigger>
                                    OpenCart 1.5
                                </div>
                                <div class="b-accordion__item-content" data-accordion-content>
                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 1.5
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-1.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-2.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-3.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-accordion__item">
                                <div class="b-accordion__item-trigger" data-accordion-trigger>
                                    OpenCart 2.0-2.2
                                </div>
                                <div class="b-accordion__item-content" data-accordion-content>

                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 1.5
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-1.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-2.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-3.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-accordion__item">
                                <div class="b-accordion__item-trigger" data-accordion-trigger>
                                    OpenCart 2.3
                                </div>
                                <div class="b-accordion__item-content" data-accordion-content>

                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 1.5
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-1.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-2.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-3.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-accordion__item">
                                <div class="b-accordion__item-trigger" data-accordion-trigger>
                                    OpenCart 3.0
                                </div>
                                <div class="b-accordion__item-content" data-accordion-content>

                                    <div class="b-tab-content">
                                        <div class="b-text-sm b-text-sm_c-green b-text-sm_ta-center b-text-sm_fw-700 b-tab-content__title">
                                            Інструкція підключення платіжного модуля ConcordPay до OpenCart 1.5
                                        </div>
                                        <div class="b-text-sm b-text-sm_c-blue b-tab-content__main">
                                            <p>
                                                1. Розпакувати архів з файлами модуля в корінь сайту зі збереженням структури папок.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-1.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                2. В адмін-розділі перейти в Extensions -> Payments і встановити модуль Concordpay (кнопка Install).
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-2.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                3. Зайти в налаштування модуля (кнопка Edit).
                                            </p>
                                            <p>
                                                4. Ввести дані, отримані від платіжної системи і зберегти зміни:
                                            </p>
                                            <p>
                                                • 	Merchant Account;
                                            </p>
                                            <p>
                                                • 	Secret key.
                                            </p>
                                            <img
                                                src="./assets/img/tab-image-3.jpg"
                                                alt="Example alt"
                                                class="aligncenter"
                                            >
                                            <p>
                                                Модуль готовий до роботи.
                                            </p>
                                            <p>
                                                Модуль OpenCart 1.5 протестований для роботи з OpenCart 1.5.6 і PHP 5.6.3.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>