<div class="b-section">
    <div class="b-section__container">
        <div class="b-article">
            <div class="b-article__inner">
                <h1 class="b-title-h1 b-title-h1__c-blue b-article__title">
                    Гривня зміцнилася до долара та євро
                </h1>
                <div class="b-article__meta">
                    01-07-2021
                </div>
                <div class="b-article__content">
                    <div class="b-content b-article__content-block">
                        <img src="./assets/img/category-img-1.jpg" alt="Alt">
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <p>
                            Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                        </p>
                        <p>
                            Про це йдеться у даних регулятора.
                        </p>
                        <p>
                            Офіційний курс гривні до євро встановився на рівні 33,06 грн (на 4 червня – 33,26 гривні).
                        </p>
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <h3>
                            Нагадуємо:
                        </h3>
                        <p>
                            4 червня котирування гривні до долара на відкритті міжбанку встановились на рівні 27,30 - 27,32 гривні.
                        </p>
                        <p>
                            4 червня котирування гривні до долара на закритті міжбанку встановились на рівні 27,24 - 27,24 гривні. Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                        </p>
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <h5>
                            Про що йдеться у даних регулятора
                        </h5>
                        <p>
                            Офіційний курс гривні до євро встановився на рівні 33,06 грн (на 4 червня – 33,26 гривні).
                        </p>
                        <p>
                            Нагадуємо: 4 червня котирування гривні до долара на відкритті міжбанку встановились на рівні 27,30 - 27,32 гривні.
                        </p>
                        <p>
                            4 червня котирування гривні до долара на закритті міжбанку встановились на рівні 27,24 - 27,24 гривні. Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                        </p>
                        <p>
                            Про це йдеться у даних регулятора.
                        </p>
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <ol>
                            <li>
                                Покупець обирає товар або послугу, заповнює форму та переходить на сторінку оплати.
                            </li>
                            <li>
                                На сторінці вибирає «Оплатити Google Pay».
                            </li>
                            <li>
                                Підтверджує оплату запропонованим способом.
                            </li>
                            <li>
                                Після успішної оплати отримує відповідне повідомлення від вашого сайту.
                            </li>
                        </ol>
                    </div>
                    <div class="b-quote b-article__content-block">
                        4 червня котирування гривні до долара на закритті міжбанку встановились на рівні 27,24 - 27,24 гривні. Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <p>
                            Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні. Про це йдеться у даних регулятора.
                        </p>
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <img src="./assets/img/article-content-img.png" alt="Alt" class="alignleft">
                        <p>
                            Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                        </p>
                        <p>
                            Про це йдеться у даних регулятора.
                        </p>
                        <p>
                            Офіційний курс гривні до євро встановився на рівні 33,06 грн (на 4 червня – 33,26 гривні).
                        </p>
                        <p>
                            Нагадуємо: 4 червня котирування гривні до долара на відкритті міжбанку встановились на рівні 27,30 - 27,32 гривні. 4 червня котирування гривні до долара на закритті міжбанку встановились на рівні 27,24 - 27,24 гривні.
                        </p>
                        <p>
                            <small>Голова Національного банку - Шевченко Кирило Євгенович</small>
                        </p>
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <p>
                            Офіційний курс гривні до євро встановився на рівні 33,06 грн (на 4 червня – 33,26 гривні). Нагадуємо: 4 червня котирування гривні до долара на відкритті міжбанку встановились на рівні 27,30 - 27,32 гривні.
                        </p>
                    </div>
                    <div class="b-article-cta b-article__content-block">
                        <div class="b-article-cta__title">
                            Спробуй прийом платежiв за допомогою ConcordPay
                        </div>
                        <div class="b-button b-button_green b-button_xs b-article-cta__button">
                            Спробувати
                        </div>
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <p>
                            Національний банк зміцнив офіційний курс гривні до долара на 5 копійок, встановивши його на 7 червня на рівні 27,29 гривні.
                        </p>
                        <p>
                            Про це йдеться у даних регулятора.
                        </p>
                        <p>
                            Офіційний курс гривні до євро встановився на рівні 33,06 грн (на 4 червня – 33,26 гривні).
                        </p>
                        <p>
                            Нагадуємо: 4 червня котирування гривні до долара на відкритті міжбанку встановились на рівні 27,30 - 27,32 гривні.
                        </p>
                    </div>
                    <div class="b-content b-content_c-blue b-article__content-block">
                        <table>
                            <tr>
                                <th>Валюта</th>
                                <th>01.01.2021</th>
                                <th>01.03.2021</th>
                                <th>01.06.2021</th>
                            </tr>
                            <tr>
                                <td>USD</td>
                                <td>28,04 грн</td>
                                <td>27,82 грн</td>
                                <td>27,14 грн</td>
                            </tr>
                            <tr>
                                <td>EUR</td>
                                <td>33,04 грн</td>
                                <td>33,02 грн</td>
                                <td>33,08 грн</td>
                            </tr>
                            <tr>
                                <td>GBP</td>
                                <td>38,04 грн</td>
                                <td>38,02 грн</td>
                                <td>38,05 грн</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>