<div class="b-section">
    <div class="b-section__container">
        <div class="b-article-cta-section">
            <div class="b-article-cta-section__inner">
                <h3 class="b-title-h3 b-title-h3_c-blue b-title-h3_ta-center  b-article-cta-section__title">
                    Спробуйте повноцінну демо-версію ConcordPay для вашого Інтернет-магазину
                </h3>
                <div class="b-button b-button_xs b-button_blue b-article-cta-section__button">
                    Спробувати
                </div>
            </div>
        </div>
    </div>
</div>