<div class="b-section b-section_bgc-light">
    <div class="b-section__container">
        <div class="b-article-recommend">
            <div class="b-article-recommend__inner">
                <div class="b-title-h3 b-title-h3_c-green b-article-recommend__title">
                    Рекомендовані статті
                </div>
                <div class="b-article-recommend__list">
                    <div class="b-group-slider">
                        <div class="b-group-slider__list" data-slide-to-show="4"
                             data-group-slider-list="blog-new-articles">
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-image-card-full">
                                        <div class="b-image-card-full__inner">
                                            <div class="b-image-card-full__image"
                                                 style="background-image: url('./assets/img/blog-image-1.jpg')"></div>
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card-full__badge">
                                                Новини
                                            </div>
                                            <div class="b-image-card-full__title">Увага! Нові тарифи</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-image-card-full">
                                        <div class="b-image-card-full__inner">
                                            <div class="b-image-card-full__image"
                                                 style="background-image: url('./assets/img/blog-image-2.jpg')"></div>
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card-full__badge">
                                                Ecommerce
                                            </div>
                                            <div class="b-image-card-full__title">Новини електронної комерції</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-image-card-full">
                                        <div class="b-image-card-full__inner">
                                            <div class="b-image-card-full__image"
                                                 style="background-image: url('./assets/img/blog-image-1.jpg')"></div>
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card-full__badge">
                                                Новини
                                            </div>
                                            <div class="b-image-card-full__title">Увага! Нові тарифи</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-image-card-full">
                                        <div class="b-image-card-full__inner">
                                            <div class="b-image-card-full__image"
                                                 style="background-image: url('./assets/img/blog-image-2.jpg')"></div>
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card-full__badge">
                                                Ecommerce
                                            </div>
                                            <div class="b-image-card-full__title">Новини електронної комерції</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-image-card-full">
                                        <div class="b-image-card-full__inner">
                                            <div class="b-image-card-full__image"
                                                 style="background-image: url('./assets/img/blog-image-1.jpg')"></div>
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card-full__badge">
                                                Новини
                                            </div>
                                            <div class="b-image-card-full__title">Увага! Нові тарифи</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-group-slider__item">
                                <div class="b-col b-col_12">
                                    <div class="b-image-card-full">
                                        <div class="b-image-card-full__inner">
                                            <div class="b-image-card-full__image"
                                                 style="background-image: url('./assets/img/blog-image-2.jpg')"></div>
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card-full__badge">
                                                Ecommerce
                                            </div>
                                            <div class="b-image-card-full__title">Новини електронної комерції</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-group-slider__arrow b-group-slider__arrow_prev"
                             data-group-slider-arrow-prev="blog-new-articles"></div>
                        <div class="b-group-slider__arrow b-group-slider__arrow_next"
                             data-group-slider-arrow-next="blog-new-articles"></div>
                    </div>
                </div>
                <div class="b-article-recommend__slider">
                    <div class="b-slider">
                        <div class="b-slider__inner">
                            <div class="b-slider__list" data-slider-list="blog-new-articles"
                                 data-slider-slide-to-show="1">
                                <div class="b-slider__item">
                                    <div class="b-image-card">
                                        <div class="b-image-card__image"
                                             style="background-image: url('./assets/img/blog-image-1.jpg')">
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                                Новини
                                            </div>
                                        </div>
                                        <div class="b-image-card__title">
                                            Увага! Нові тарифи
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-image-card">
                                        <div class="b-image-card__image"
                                             style="background-image: url('./assets/img/blog-image-2.jpg')">
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                                Ecommerce
                                            </div>
                                        </div>
                                        <div class="b-image-card__title">
                                            Новини електронної комерції
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-image-card">
                                        <div class="b-image-card__image"
                                             style="background-image: url('./assets/img/blog-image-1.jpg')">
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                                Новини
                                            </div>
                                        </div>
                                        <div class="b-image-card__title">
                                            Увага! Нові тарифи
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-image-card">
                                        <div class="b-image-card__image"
                                             style="background-image: url('./assets/img/blog-image-2.jpg')">
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                                Ecommerce
                                            </div>
                                        </div>
                                        <div class="b-image-card__title">
                                            Новини електронної комерції
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-image-card">
                                        <div class="b-image-card__image"
                                             style="background-image: url('./assets/img/blog-image-1.jpg')">
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                                Новини
                                            </div>
                                        </div>
                                        <div class="b-image-card__title">
                                            Увага! Нові тарифи
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-image-card">
                                        <div class="b-image-card__image"
                                             style="background-image: url('./assets/img/blog-image-2.jpg')">
                                            <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                                Ecommerce
                                            </div>
                                        </div>
                                        <div class="b-image-card__title">
                                            Новини електронної комерції
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_prev"
                                 data-slider-arrow-prev="blog-new-articles">
                                @@include("../../../icon/chevron-left.svg")
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_next"
                                 data-slider-arrow-next="blog-new-articles">
                                @@include("../../../icon/chevron-right.svg")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>