<section class="b-section b-section_gp-cover">
    <div class="b-section__top-right-background-2"
         style="background-image: url('./assets/img/web-paymant-modules-background.png')"></div>
    <div class="b-section__container">
        <div class="b-gp-cover">
            <div class="b-gp-cover__inner">
                <div class="b-gp-cover__row">
                    <div class="b-col b-col_6 b-col_sm-12 b-gp-cover__col">
                        <div class="b-gp-cover__row">
                            <div class="b-col b-col_12 b-gp-cover__col">
                                <h1 class="b-title-h2 b-title-h2_c-blue">
                                    Модулі оплат для сайтів від ConcordPay
                                </h1>
                            </div>
                            <div class="b-col b-col_12 b-gp-cover__col">
                                <div class="b-text-md b-text-md_c-blue b-gp-cover__description">
                                    <div class="b-marker-list">
                                        <ul>
                                            <li>
                                                Підключайте платежі на вашому сайті за 5 хвилин.
                                            </li>
                                            <li>
                                                Приймайте оплати картками Visa та Mastercard, а також гаманцями Apple
                                                Pay та Google Pay.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_6 b-col_d-sm-none b-gp-cover__col"></div>
                    <div class="b-col b-col_6 b-col_sm-12 b-gp-cover__col">
                        <div class="b-gray-card">
                            <div class="b-gray-card__inner">
                                <div class="b-gray-card__icons">
                                    <div class="b-gray-card__icons-row">
                                        <div class="b-gray-card__icon">
                                            @@include("../../../icon/icon23.svg")
                                        </div>
                                    </div>
                                </div>
                                <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                    <p>
                                        Модулі розроблені для найпопулярніших систем сайтів та інтернет-магазинів
                                        (Wordpress, Woocommerce, Opencart, Bitrix тощо). Наші спеціалісти вже
                                        налаштували модулі, а також постійно стежать за актуальністю їхніх версій.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_6 b-col_sm-12 b-gp-cover__col">
                        <div class="b-gray-card">
                            <div class="b-gray-card__inner">
                                <div class="b-gray-card__icons">
                                    <div class="b-gray-card__icons-row">
                                        <div class="b-gray-card__icon">
                                            @@include("../../../icon/icon24.svg")
                                        </div>
                                    </div>
                                </div>
                                <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                    <p>
                                        Легке встановлення за інструкціями.
                                        <br>Цілодобова технічна й банківська підтримка у Telegram.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_12 b-gp-cover__col">
                        <div class="b-gp-cover__row">
                            <div class="b-col b-col_12 b-gp-cover__col">
                                <h2 class="b-title-h3 b-title-h3_ta-center b-title-h3_c-green">
                                    Як підключити модуль оплат?
                                </h2>
                            </div>
                            <div class="b-col b-col_3 b-col_md-6 b-col_xs-12 b-gp-cover__col">
                                <div class="b-number-card">
                                    <div class="b-number-card__inner">
                                        <div class="b-number-card__header">
                                            <div class="b-number-card__counter">
                                                1
                                            </div>
                                        </div>
                                        <div class="b-number-card__main">
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-number-card__description">
                                                <p>
                                                    Зареєструватися або увійти в особистий кабінет
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-col b-col_3 b-col_md-6 b-col_xs-12 b-gp-cover__col">
                                <div class="b-number-card">
                                    <div class="b-number-card__inner">
                                        <div class="b-number-card__header">
                                            <div class="b-number-card__counter">
                                                2
                                            </div>
                                        </div>
                                        <div class="b-number-card__main">
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-number-card__description">
                                                <p>
                                                    Перейти за посиланням у сховище модулів та завантажити потрібний
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-col b-col_3 b-col_md-6 b-col_xs-12 b-gp-cover__col">
                                <div class="b-number-card">
                                    <div class="b-number-card__inner">
                                        <div class="b-number-card__header">
                                            <div class="b-number-card__counter">
                                                3
                                            </div>
                                        </div>
                                        <div class="b-number-card__main">
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-number-card__description">
                                                <p>
                                                    Встановити модуль на вашому сайті
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-col b-col_3 b-col_md-6 b-col_xs-12 b-gp-cover__col">
                                <div class="b-number-card">
                                    <div class="b-number-card__inner">
                                        <div class="b-number-card__header">
                                            <div class="b-number-card__counter">
                                                4
                                            </div>
                                        </div>
                                        <div class="b-number-card__main">
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-number-card__description">
                                                <p>
                                                    Налаштувати модуль за параметрами оплат для вашого магазину
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>