<section class="b-section b-section_bgc-light">
    <div class="b-section__container">
        <div class="b-gp-how-it-work">
            <div class="b-gp-how-it-work__inner">
                <h2 class="b-title-h3 b-title-h3_c-blue b-gp-how-it-work__title">
                    Особливості підключення сервісів
                </h2>
                <div class="b-gp-how-it-work__row b-gp-how-it-work__row_jc-center">
                    <div class="b-col b-col_6 b-col_lg-8 b-col_md-10 b-col_sm-12 b-gp-how-it-work__col">
                        <div class="b-card b-card_border b-card_bc-blue">
                            <div class="b-card__inner b-card__inner_d-flex b-card__inner_fd-column b-card__inner_jc-between b-card__inner_padding">
                                <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                    <p>
                                        Сервіси оплати картками Visa, Mastercard и Google Pay доступні одразу після реєстрації магазина в особистому кабінеті порталу ConcordPay.
                                    </p>
                                </div>
                                <div class="b-card__logos">
                                    <div class="b-card__logo">
                                        <img src="./assets/img/mc.svg" alt="Mastercard logo">
                                    </div>
                                    <div class="b-card__logo">
                                        <img src="./assets/img/visa.svg" alt="Visa logo">
                                    </div>
                                    <div class="b-card__logo">
                                        <img src="./assets/img/gpay.svg" alt="Google pay logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_6 b-col_lg-8 b-col_md-10 b-col_sm-12 b-gp-how-it-work__col">
                        <div class="b-card b-card_border b-card_bc-blue">
                            <div class="b-card__inner b-card__inner_d-flex b-card__inner_fd-column b-card__inner_jc-between b-card__inner_padding">
                                <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                    <p>
                                        Сервіс оплати Apple Pay стане доступним після підписання договору.
                                    </p>
                                </div>
                                <div class="b-card__logos">
                                    <div class="b-card__logo">
                                        <img src="./assets/img/apple-pay.svg" alt="Apple pay logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>