<div class="b-section b-section_blog">
    <div class="b-section__blog-background" style="background-image: url('./assets/img/blog-background-image.png')"></div>
    <div class="b-section__container">
        <div class="b-blog">
            <div class="b-blog__inner">
                <h1 class="b-title-h1 b-title-h1_c-blue b-blog__title">
                    Блог
                </h1>
                <div class="b-blog__category-triggers">
                    <div class="b-blog__category-trigger">Новини</div>
                    <div class="b-blog__category-trigger">Корисно</div>
                    <div class="b-blog__category-trigger">Бізнесу</div>
                    <div class="b-blog__category-trigger">Ecommerce</div>
                </div>
                <div class="b-blog__list">
                    <div class="b-blog__item-box">
                        <div class="b-blog__item">
                            <div class="b-image-card">
                                <div class="b-image-card__image" style="background-image: url('./assets/img/blog-image-1.jpg')">
                                    <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                        Новини
                                    </div>
                                </div>
                                <div class="b-image-card__title">
                                    Увага! Нові тарифи
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog__item-box">
                        <div class="b-blog__item">
                            <div class="b-image-card">
                                <div class="b-image-card__image" style="background-image: url('./assets/img/blog-image-2.jpg')">
                                    <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                        Ecommerce
                                    </div>
                                </div>
                                <div class="b-image-card__title">
                                    Новини електронної комерції
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog__item-box">
                        <div class="b-blog__item">
                            <div class="b-image-card">
                                <div class="b-image-card__image" style="background-image: url('./assets/img/blog-image-3.jpg')">
                                    <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                        Корисно
                                    </div>
                                </div>
                                <div class="b-image-card__title">
                                    Підключайте платежі на вашому сайті за 5 хвилин
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog__item-box">
                        <div class="b-blog__item">
                            <div class="b-image-card">
                                <div class="b-image-card__image" style="background-image: url('./assets/img/blog-image-3.jpg')">
                                    <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                        Корисно
                                    </div>
                                </div>
                                <div class="b-image-card__title">
                                    Підключайте платежі на вашому сайті за 5 хвилин
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog__item-box">
                        <div class="b-blog__item">
                            <div class="b-image-card">
                                <div class="b-image-card__image" style="background-image: url('./assets/img/blog-image-2.jpg')">
                                    <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                        Ecommerce
                                    </div>
                                </div>
                                <div class="b-image-card__title">
                                    Новини електронної комерції
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog__item-box">
                        <div class="b-blog__item">
                            <div class="b-image-card">
                                <div class="b-image-card__image" style="background-image: url('./assets/img/blog-image-1.jpg')">
                                    <div class="b-badge b-badge_bgc-green b-badge_c-light b-image-card__badge">
                                        Новини
                                    </div>
                                </div>
                                <div class="b-image-card__title">
                                    Увага! Нові тарифи
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>