<div class="b-section b-section_blog-cta b-section_bgc-light">
    <div class="b-section__blog-cta-background" style="background-image: url('./assets/img/blog-cta-background-image.png')"></div>
    <div class="b-section__container">
        <div class="b-blog-cta">
            <div class="b-blog-cta__inner">
                <div class="b-blog-cta__row">
                    <div class="b-col b-col_12 b-blog-cta__col">
                        <h3 class="b-title-h3 b-title-h3_c-blue b-title-h3_ta-center b-blog-cta__title">
                            Спробуйте повноцінну демо-версію ConcordPay для вашого Інтернет-магазину
                        </h3>
                    </div>
                    <div class="b-col b-col_12 b-blog-cta__col b-col_d-flex b-title-h3_jc-center">
                        <div class="b-button b-button_blue b-button_sm b-blog-cta__button">
                            Спробувати
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>