<section class="b-section b-section_bgc-light b-section_industry-advantages">
    <div class="b-section__industry-advantages-background-1" style="background-image: url('./assets/img/industry-advantages-background-1.png')"></div>
    <div class="b-section__industry-advantages-background-2" style="background-image: url('./assets/img/industry-advantages-background-2.png')"></div>
    <div class="b-section__container">
        <div class="b-industry-advantages">
            <div class="b-industry-advantages__inner">
                <h2 class="b-title-h2 b-title-h2_c-green b-industry-advantages__title">
                    Переваги ConcordPay для інтернет-магазинів
                </h2>
                <div class="b-industry-advantages__list">
                    <div class="b-advantages__row">
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon8.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Без додаткових комісій і платежів
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            ConcordPay — платіжна система, що працює прозоро та чесно, без абонентської плати та прихованих комісій
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon10.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Підключення та активація за 24 години
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Підключити сайт або мобільний додаток до системи оплат можна за 1 день. Після реєстрації на порталі налаштування сервісу вже є можливим
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon7.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Банківська й технічна підтримка 24/7
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Підтримка на всіх етапах роботи з системою: від реєстрації, підключення й налаштування до вирішення поточних і нестандартних питань
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon9.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Високий рівень безпеки
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Усі платежі в ConcordPay надійно захищені технологією 3D-Secure, а також постійно підлягають моніторингу щодо безпеки та запобігання шахрайським діям
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon5.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Зручний особистий кабінет
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Миттєвий перегляд статусів оплат. Аналітика конверсії. Виставлення інвойсів. Керування кількома проєктами з одного кабінету
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon11.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Сучасні платіжні рішення для інтернет-магазинів та бізнесу онлайн
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Спліт-платежі: просте розділення суми оплати між постачальниками та контрагентами.  Інвойсинг: можливість оплати карткою без відповідної кнопки  на сайті. Регулярні платежі. Оплата гаманцями Apple Pay і Google Pay
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-industry-advantages__slider">
                    <div class="b-slider">
                        <div class="b-slider__inner">
                            <div class="b-slider__list" data-slider-list="industry-advantages" data-slider-slide-to-show="1">
                                <div class="b-slider__item">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon8.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                                Без додаткових комісій і платежів
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    ConcordPay — платіжна система, що працює прозоро та чесно, без абонентської плати та прихованих комісій
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon10.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                                Підключення та активація за 24 години
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    Підключити сайт або мобільний додаток до системи оплат можна за 1 день. Після реєстрації на порталі налаштування сервісу вже є можливим
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon7.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                                Банківська й технічна підтримка 24/7
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    Підтримка на всіх етапах роботи з системою: від реєстрації, підключення й налаштування до вирішення поточних і нестандартних питань
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon9.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                                Високий рівень безпеки
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    Усі платежі в ConcordPay надійно захищені технологією 3D-Secure, а також постійно підлягають моніторингу щодо безпеки та запобігання шахрайським діям
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon5.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                                Зручний особистий кабінет
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    Миттєвий перегляд статусів оплат. Аналітика конверсії. Виставлення інвойсів. Керування кількома проєктами з одного кабінету
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-card">
                                        <div class="b-card__inner">
                                            <div class="b-card__icons">
                                                <div class="b-card__icons-row">
                                                    <div class="b-card__icon">
                                                        @@include("../../../icon/icon11.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                                Сучасні платіжні рішення для інтернет-магазинів та бізнесу онлайн
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                                <p>
                                                    Спліт-платежі: просте розділення суми оплати між постачальниками та контрагентами.  Інвойсинг: можливість оплати карткою без відповідної кнопки  на сайті. Регулярні платежі. Оплата гаманцями Apple Pay і Google Pay
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_prev" data-slider-arrow-prev="industry-advantages">
                                @@include("../../../icon/chevron-left.svg")
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_next" data-slider-arrow-next="industry-advantages">
                                @@include("../../../icon/chevron-right.svg")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>