<section class="b-section">
    <div class="b-section__container">
        <div class="b-industry-advantages">
            <div class="b-industry-advantages__inner">
                <h2 class="b-title-h2 b-title-h2_c-green b-industry-advantages__title b-industry-advantages__title_industry">
                    Можливості платіжної системи для Інтернет-магазинів
                </h2>
                <div class="b-industry-advantages__list">
                    <div class="b-industry-advantages__row">
                        <div class="b-col b-col_6 b-col_sm-12 b-industry-advantages__col">
                            <div class="b-industry-advantages__row">
                                <div class="b-col b-col_12 b-industry-advantages__col">
                                    <div class="b-card-left">
                                        <div class="b-card-left__inner">
                                            <div class="b-card-left__icons">
                                                <div class="b-card-left__icons-row">
                                                    <div class="b-card-left__icon">
                                                        @@include("../../../icon/icon6.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                                Купівлі в один клік
                                            </div>
                                            <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                                <p>
                                                    Покупцям буде доступна швидка оплата у вашому інтернет-магазині з карткою або електронним гаманцем.
                                                </p>
                                                <p>
                                                    Можливе  збереження реквізитів своєї картки для спрощення повторної оплати.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-col b-col_12 b-industry-advantages__col">
                                    <div class="b-card-left">
                                        <div class="b-card-left__inner">
                                            <div class="b-card-left__icons">
                                                <div class="b-card-left__icons-row">
                                                    <div class="b-card-left__icon">
                                                        @@include("../../../icon/icon25.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                                Холдування платежів
                                            </div>
                                            <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                                <p>
                                                    Перевага, що спростить ведення бухгалтерських операцій та обліку. Замість миттєвого списання оплати з картки покупця, сервіс ConcordPay дозволяє тимчасово заблокувати суму.
                                                </p>
                                                <p>
                                                    Після уточнення додаткових умов купівлі (наприклад, наявності та кількості товару на складі), повідомте про це сервісу ConcordPay.  Оплату одразу буде зараховано на ваш рахунок.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-col b-col_12 b-industry-advantages__col">
                                    <div class="b-card-left">
                                        <div class="b-card-left__inner">
                                            <div class="b-card-left__icons">
                                                <div class="b-card-left__icons-row">
                                                    <div class="b-card-left__icon">
                                                        @@include("../../../icon/icon26.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                                Повернення коштів
                                            </div>
                                            <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                                <p>
                                                    Повертайте покупцям гроші швидко та просто, повністю або частково. Операцію повернення коштів можна виконати в особистому кабінеті ConcordPay.
                                                </p>
                                                <p>
                                                    Зверніть увагу: за повернення грошей не стягується комісії, банк також повертає свою частку, визначену як комісія.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="b-col b-col_6 b-col_sm-12 b-industry-advantages__col">
                            <div class="b-industry-advantages__row">
                                <div class="b-col b-col_12 b-industry-advantages__col">
                                    <div class="b-card-left">
                                        <div class="b-card-left__inner">
                                            <div class="b-card-left__icons">
                                                <div class="b-card-left__icons-row">
                                                    <div class="b-card-left__icon">
                                                        @@include("../../../icon/icon27.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                                Продажі в соцмережах
                                            </div>
                                            <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                                <p>
                                                    Сервіс інвойсингу ідеально підходить для продажів у соцмережах.
                                                </p>
                                                <p>
                                                    Створіть в особистому кабінеті інвойс-посилання для оплати товару чи послуги.
                                                </p>
                                                <p>
                                                    Поділіться інвойсом з покупцями будь-яким зручним способом: у SMS, месенджері, поштою.
                                                </p>
                                                <p>
                                                    Ваші покупці зможуть оплатити покупку карткою чи електронним гаманцем на захищеній банком вебсторінці.
                                                </p>
                                                <p>
                                                    Стежити за статусом оплати інвойсів можна в особистому кабінеті системи оплат для інтернет-магазину.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-col b-col_12 b-industry-advantages__col">
                                    <div class="b-card-left">
                                        <div class="b-card-left__inner">
                                            <div class="b-card-left__icons">
                                                <div class="b-card-left__icons-row">
                                                    <div class="b-card-left__icon">
                                                        @@include("../../../icon/icon1.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                                Регулярні платежі
                                            </div>
                                            <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                                <p>
                                                    Підключайте онлайн-платежі для інтернет-майданчика за розкладом та отримуйте гроші від клієнтів своєчасно.
                                                </p>
                                                <p>
                                                    Із сервісом ConcordPay ви зможете змінювати як суму платежу, так і період отримання оплати.
                                                </p>
                                                <p>
                                                    Оплата проводиться без використання карткових даних. Замість цього використовується технологія «токен», що забезпечує захист від фроду (шахрайських дій).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-industry-advantages__slider">
                    <div class="b-slider">
                        <div class="b-slider__inner">
                            <div class="b-slider__list" data-slider-list="industry-capability" data-slider-slide-to-show="1">
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                        <div class="b-gray-card__inner">
                                            <div class="b-gray-card__icons">
                                                <div class="b-gray-card__icons-row">
                                                    <div class="b-gray-card__icon">
                                                        @@include("../../../icon/icon6.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                                Купівлі в один клік
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                                <p>
                                                    Покупцям буде доступна швидка оплата у вашому інтернет-магазині з карткою або електронним гаманцем.
                                                </p>
                                                <p>
                                                    Можливе  збереження реквізитів своєї картки для спрощення повторної оплати.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                        <div class="b-gray-card__inner">
                                            <div class="b-gray-card__icons">
                                                <div class="b-gray-card__icons-row">
                                                    <div class="b-gray-card__icon">
                                                        @@include("../../../icon/icon25.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                                Холдування платежів
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                                <p>
                                                    Перевага, що спростить ведення бухгалтерських операцій та обліку. Замість миттєвого списання оплати з картки покупця, сервіс ConcordPay дозволяє тимчасово заблокувати суму.
                                                </p>
                                                <p>
                                                    Після уточнення додаткових умов купівлі (наприклад, наявності та кількості товару на складі), повідомте про це сервісу ConcordPay.  Оплату одразу буде зараховано на ваш рахунок.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                        <div class="b-gray-card__inner">
                                            <div class="b-gray-card__icons">
                                                <div class="b-gray-card__icons-row">
                                                    <div class="b-gray-card__icon">
                                                        @@include("../../../icon/icon26.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                                Повернення коштів
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                                <p>
                                                    Повертайте покупцям гроші швидко та просто, повністю або частково. Операцію повернення коштів можна виконати в особистому кабінеті ConcordPay.
                                                </p>
                                                <p>
                                                    Зверніть увагу: за повернення грошей не стягується комісії, банк також повертає свою частку, визначену як комісія.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                        <div class="b-gray-card__inner">
                                            <div class="b-gray-card__icons">
                                                <div class="b-gray-card__icons-row">
                                                    <div class="b-gray-card__icon">
                                                        @@include("../../../icon/icon27.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                                Продажі в соцмережах
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                                <p>
                                                    Сервіс інвойсингу ідеально підходить для продажів у соцмережах.
                                                </p>
                                                <p>
                                                    Створіть в особистому кабінеті інвойс-посилання для оплати товару чи послуги.
                                                </p>
                                                <p>
                                                    Поділіться інвойсом з покупцями будь-яким зручним способом: у SMS, месенджері, поштою.
                                                </p>
                                                <p>
                                                    Ваші покупці зможуть оплатити покупку карткою чи електронним гаманцем на захищеній банком вебсторінці.
                                                </p>
                                                <p>
                                                    Стежити за статусом оплати інвойсів можна в особистому кабінеті системи оплат для інтернет-магазину.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                        <div class="b-gray-card__inner">
                                            <div class="b-gray-card__icons">
                                                <div class="b-gray-card__icons-row">
                                                    <div class="b-gray-card__icon">
                                                        @@include("../../../icon/icon1.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                                Регулярні платежі
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                                <p>
                                                    Підключайте онлайн-платежі для інтернет-майданчика за розкладом та отримуйте гроші від клієнтів своєчасно.
                                                </p>
                                                <p>
                                                    Із сервісом ConcordPay ви зможете змінювати як суму платежу, так і період отримання оплати.
                                                </p>
                                                <p>
                                                    Оплата проводиться без використання карткових даних. Замість цього використовується технологія «токен», що забезпечує захист від фроду (шахрайських дій).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_prev" data-slider-arrow-prev="industry-capability">
                                @@include("../../../icon/chevron-left.svg")
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_next" data-slider-arrow-next="industry-capability">
                                @@include("../../../icon/chevron-right.svg")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>