<div class="b-section b-section_bgc-light">
    <div class="b-section__container">
        <div class="b-industry-cta">
            <h3 class="b-title-h3 b-title-h3_ta-center b-title-h3_c-blue b-industry-cta__title">
                Спробуйте повноцінну демо-версію ConcordPay для вашого Інтернет-магазину
            </h3>
            <div class="b-industry-cta__buttons">
                <div class="b-button b-button_xs b-button_blue b-industry-cta__button">
                    Спробувати
                </div>
            </div>
        </div>
    </div>
</div>