<div class="b-section b-section__container">
    <div class="b-industry-functions">
        <h2 class="b-title-h3 b-title-h3_c-green b-title-h3_ta-center b-industry-functions__title">
            Функції для приймання та обробки платежів
        </h2>
        <div class="b-industry-functions__list">
            <div class="b-group-slider">
                <div class="b-group-slider__list" data-group-slider-list="industry-functions">
                    <div class="b-group-slider__item">
                        <div class="b-col b-col_12">
                            <div class="b-card-left">
                                <div class="b-card-left__inner">
                                    <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                        Google Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                        <p>
                                            Завдяки сучасним мобільним технологіям онлайн-платежі для інтернет-магазину
                                            стають максимально простими.
                                        </p>
                                        <p>
                                            Простота оплати збільшує продажі, через що зростає й конверсія вашого сайту.
                                        </p>
                                        <p>
                                            Оплата гаманцем Google Pay на платіжній сторінці активується без додаткових
                                            налаштувань.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-group-slider__item">
                        <div class="b-col b-col_12">
                            <div class="b-card-left">
                                <div class="b-card-left__inner">
                                    <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                        Apple Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                        <p>
                                            Оплата з гаманцем Apple Pay відкриє вашим покупцям можливість покупок в
                                            «один
                                            дотик» (із використанням технологій розпізнавання відбитку пальця або
                                            обличчя —
                                            TouchID і FaceID).
                                        </p>
                                        <p>
                                            Оплатити покупки з Apple Pay зможуть лише користувачі пристроїв Apple.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-group-slider__item">
                        <div class="b-col b-col_12">
                            <div class="b-card-left">
                                <div class="b-card-left__inner">
                                    <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                        Повернення
                                    </div>
                                    <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                        <p>
                                            В особистому кабінеті ConcordPay є можливість повністю або частково
                                            повернути
                                            кошти покупцю.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-group-slider__item">
                        <div class="b-col b-col_12">
                            <div class="b-card-left">
                                <div class="b-card-left__inner">
                                    <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                        Google Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                        <p>
                                            Завдяки сучасним мобільним технологіям онлайн-платежі для інтернет-магазину
                                            стають максимально простими.
                                        </p>
                                        <p>
                                            Простота оплати збільшує продажі, через що зростає й конверсія вашого сайту.
                                        </p>
                                        <p>
                                            Оплата гаманцем Google Pay на платіжній сторінці активується без додаткових
                                            налаштувань.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-group-slider__item">
                        <div class="b-col b-col_12">
                            <div class="b-card-left">
                                <div class="b-card-left__inner">
                                    <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                        Apple Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                        <p>
                                            Оплата з гаманцем Apple Pay відкриє вашим покупцям можливість покупок в
                                            «один
                                            дотик» (із використанням технологій розпізнавання відбитку пальця або
                                            обличчя —
                                            TouchID і FaceID).
                                        </p>
                                        <p>
                                            Оплатити покупки з Apple Pay зможуть лише користувачі пристроїв Apple.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-group-slider__item">
                        <div class="b-col b-col_12">
                            <div class="b-card-left">
                                <div class="b-card-left__inner">
                                    <div class="b-text-md b-text-md_c-blue b-card-left__title">
                                        Повернення
                                    </div>
                                    <div class="b-text-sm b-text-sm_c-blue b-card-left__description">
                                        <p>
                                            В особистому кабінеті ConcordPay є можливість повністю або частково
                                            повернути
                                            кошти покупцю.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-group-slider__arrow b-group-slider__arrow_prev"
                     data-group-slider-arrow-prev="industry-functions"></div>
                <div class="b-group-slider__arrow b-group-slider__arrow_next"
                     data-group-slider-arrow-next="industry-functions"></div>
            </div>
        </div>

        <div class="b-industry-functions__slider">
            <div class="b-slider">
                <div class="b-slider__inner">
                    <div class="b-slider__list" data-slider-list="industry-functions" data-slider-slide-to-show="1">
                        <div class="b-slider__item">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Google Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Завдяки сучасним мобільним технологіям онлайн-платежі для інтернет-магазину
                                            стають максимально простими.
                                        </p>
                                        <p>
                                            Простота оплати збільшує продажі, через що зростає й конверсія вашого сайту.
                                        </p>
                                        <p>
                                            Оплата гаманцем Google Pay на платіжній сторінці активується без додаткових
                                            налаштувань.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__item">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Apple Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Оплата з гаманцем Apple Pay відкриє вашим покупцям можливість покупок в
                                            «один
                                            дотик» (із використанням технологій розпізнавання відбитку пальця або
                                            обличчя —
                                            TouchID і FaceID).
                                        </p>
                                        <p>
                                            Оплатити покупки з Apple Pay зможуть лише користувачі пристроїв Apple.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__item">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Повернення
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            В особистому кабінеті ConcordPay є можливість повністю або частково
                                            повернути
                                            кошти покупцю.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__item">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Google Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Завдяки сучасним мобільним технологіям онлайн-платежі для інтернет-магазину
                                            стають максимально простими.
                                        </p>
                                        <p>
                                            Простота оплати збільшує продажі, через що зростає й конверсія вашого сайту.
                                        </p>
                                        <p>
                                            Оплата гаманцем Google Pay на платіжній сторінці активується без додаткових
                                            налаштувань.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__item">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Apple Pay
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Оплата з гаманцем Apple Pay відкриє вашим покупцям можливість покупок в
                                            «один
                                            дотик» (із використанням технологій розпізнавання відбитку пальця або
                                            обличчя —
                                            TouchID і FaceID).
                                        </p>
                                        <p>
                                            Оплатити покупки з Apple Pay зможуть лише користувачі пристроїв Apple.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__item">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Повернення
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            В особистому кабінеті ConcordPay є можливість повністю або частково
                                            повернути
                                            кошти покупцю.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-slider__arrow b-slider__arrow_prev" data-slider-arrow-prev="industry-functions">
                        @@include("../../../icon/chevron-left.svg")
                    </div>
                    <div class="b-slider__arrow b-slider__arrow_next" data-slider-arrow-next="industry-functions">
                        @@include("../../../icon/chevron-right.svg")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>