<div class="b-section">
    <div class="b-section__container">
        <div class="b-industry-payment-system">
            <h1 class="b-title-h2 b-title-h2_c-blue b-industry-payment-system__title">
                ConcordPay — зручна платіжна система для вашого інтернет-магазину
            </h1>
            <div class="b-text-md b-text-md_c-blue b-industry-payment-system__description">
                <p>
                    Із ConcordPay ваші покупці зможуть легко та комфортно оплатити покупки картками Visa, Mastercard і ПРОСТІР та гаманцями Apple Pay і Google Pay.
                </p>
            </div>
            <div class="b-industry-payment-system__buttons">
                <div class="b-button b-button_sm b-button_green b-industry-payment-system__button">
                    Підключити
                </div>
            </div>
        </div>
    </div>
</div>