<section class="b-section">
    <div class="b-section__container">
        <div class="b-acceptance-payments">
            <div class="b-acceptance-payments__inner">
                <h2 class="b-title-h2 b-title-h2_c-green b-title-h2_ta-center b-acceptance-payments__title">
                    Зробіть приймання платежів на сайті зручним
                </h2>
                <h3 class="b-title-h3 b-title-h3_c-blue b-title-h3_ta-center b-acceptance-payments__subtitle">
                    Платіжна система ConcordPay підтримує всі доступні способи оплати
                </h3>
                <div class="b-text-md b-text-md_c-blue b-text-md_ta-center b-acceptance-payments__description">
                    <p>
                        Із платіжним агрегатором ConcordPay ваші покупці зможуть використовувати всі сучасні способи оплати товарів і послуг: картки, електронні гаманці та інші платіжні сервіси.
                    </p>
                </div>
                <div class="b-acceptance-payments__logos-list">
                    <div class="b-acceptance-payments__row b-acceptance-payments__row_jc-center">
                        <div class="b-col b-col_2 b-col_md-4 b-col_sm-6 b-col_xs-12 b-col_ta-center b-acceptance-payments__col">
                            <img src="./assets/img/mc.svg" alt="Mastercard logo">
                        </div>
                        <div class="b-col b-col_2 b-col_md-4 b-col_sm-6 b-col_xs-12 b-col_ta-center b-acceptance-payments__col">
                            <img src="./assets/img/visa.svg" alt="Visa logo">
                        </div>
                        <div class="b-col b-col_2 b-col_md-4 b-col_sm-6 b-col_xs-12 b-col_ta-center b-acceptance-payments__col">
                            <img src="./assets/img/masterpass.svg" alt="Masterpass logo">
                        </div>
                        <div class="b-col b-col_2 b-col_md-4 b-col_sm-6 b-col_xs-12 b-col_ta-center b-acceptance-payments__col">
                            <img src="./assets/img/gpay.svg" alt="Google pay logo">
                        </div>
                        <div class="b-col b-col_2 b-col_md-4 b-col_sm-6 b-col_xs-12 b-col_ta-center b-acceptance-payments__col">
                            <img src="./assets/img/apple-pay.svg" alt="Apple pay logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>