<section class="b-section b-section_home-advantages">
    <div class="b-section__top-right-h-center-background" style="background-image: url('./assets/img/home-advantages-backgroud.png')"></div>
    <div class="b-section__container">
        <div class="b-advantages">
            <div class="b-advantages__inner">
                <h2 class="b-title-h2 b-title-h2_c-green b-advantages__title">
                    Переваги для бізнесу
                </h2>
                <div class="b-advantages__list">
                    <div class="b-advantages__row">
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon7.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Банківська й технічна підтримка 24/7
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Допомога й підтримка на різних етапах роботи із системою — від реєстрації, підключення й налаштування до убезпечення платежів і вирішення нестандартних питань
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon8.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Без додаткових комісій і платежів
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            ConcordPay — платіжна система, яка працює прозоро й чесно без абонентської плати та прихованих комісій
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon9.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Високий рівень безпеки
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Усі платежі в ConcordPay надійно захищені технологією 3D-Secure, а також постійно проходять моніторинг щодо безпеки та упередження шахрайських дій
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col">
                            <div class="b-card">
                                <div class="b-card__inner">
                                    <div class="b-card__icons">
                                        <div class="b-card__icons-row">
                                            <div class="b-card__icon">
                                                @@include("../../../icon/icon10.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-card__title">
                                        Підключення й активація за 24 години
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-card__description">
                                        <p>
                                            Підключіться до системи оплат, зареєструйте сайт чи додаток.
                                        </p>
                                        <p>
                                            Під час перевірки договору модератором ви зможете виконати всі необхідні налаштування.
                                        </p>
                                        <p>
                                            Після завершення перевірки платіжний сервіс буде активовано
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_6 b-col_sm-12 b-advantages__col"></div>
                        <div class="b-col b-col_12 b-col_d-flex b-col_jc-center b-advantages__col">
                            <div class="b-button b-button_green b-button_sm b-advantages__button" data-modal-trigger="questions">
                                Залишилися запитання?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>