<section class="b-section b-section_comfort-connect">
    <div class="b-section__top-left-background" style="background-image: url('./assets/img/home-comfor-connect-background.png')"></div>
    <div class="b-section__container">
        <div class="b-comfort-connect">
            <div class="b-comfort-connect__inner">
                <div class="b-comfort-connect__row">
                    <div class="b-col b-col_6 b-col_d-sm-none b-comfort-connect__col"></div>
                    <div class="b-col b-col_6 b-col_sm-12 b-comfort-connect__col">
                        <h2 class="b-title-h2 b-title-h2_c-green b-comfort-connect__title">
                            Зручне підключення для сайту будь-якої складності
                        </h2>
                        <div class="b-text-md b-text-md_c-green b-comfort-connect__description">
                            <p>
                                ConcordPay — універсальна платіжна платформа. Залежно від потреб можна обрати відповідне рішення:
                            </p>
                        </div>
                        <div class="b-comfort-connect__content-block">
                            <div class="b-text-md b-text-md_fw-700 b-text-md_c-blue b-comfort-connect__content-block-title">
                                Готові рішення
                            </div>
                            <div class="b-text-sm b-text-sm_c-blue b-comfort-connect__content-block-text">
                                <p>
                                    Використовуйте готові рішення для налаштування приймання платежів. Підходять для популярних СMS і SaaS-рішень.
                                    <a href="#"><strong>Список платформ</strong></a> постійно оновлюється (вже більше 14 плагінів).
                                </p>
                            </div>
                        </div>
                        <div class="b-comfort-connect__logos-list">
                            <a href="#" target="_blank" class="b-comfort-connect__logos-item">
                                <img src="./assets/img/opencart.svg" alt="Opencart logo">
                            </a>
                            <a href="#" target="_blank" class="b-comfort-connect__logos-item">
                                <img src="./assets/img/drupal.svg" alt="Drupal logo">
                            </a>
                            <a href="#" target="_blank" class="b-comfort-connect__logos-item">
                                <img src="./assets/img/joomla.svg" alt="Joomla logo">
                            </a>
                            <a href="#" target="_blank" class="b-comfort-connect__logos-item">
                                <img src="./assets/img/wordpress.svg" alt="Wordpress logo">
                            </a>
                            <a href="#" target="_blank" class="b-comfort-connect__logos-item">
                                <img src="./assets/img/presta-shop.svg" alt="Presta shop logo">
                            </a>
                            <a href="#" target="_blank" class="b-comfort-connect__logos-item">
                                <img src="./assets/img/magento.png" alt="Magento logo">
                            </a>
                            <a href="#" target="_blank" class="b-comfort-connect__logos-item">
                                <img src="./assets/img/1c-bitrix.png" alt="1C bitrix logo">
                            </a>
                        </div>
                        <div class="b-comfort-connect__content-block">
                            <div class="b-text-md b-text-md_fw-700 b-text-md_c-blue b-comfort-connect__content-block-title">
                                Індивідуальні рішення
                            </div>
                            <div class="b-text-sm b-text-sm_c-blue b-comfort-connect__content-block-text">
                                <p>
                                    Платіжна система ConcordPay легко інтегрується з інтернет-магазинами й сайтами власної розробки, мобільними додатками, чат-ботами в різних месенджерах і QR-кодами через API.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>