<section class="b-section b-section_home-cover">
    <div class="b-section__top-right-background" style="background-image: url('./assets/img/home-cover-background.png')"></div>
    <div class="b-section__container">
        <div class="b-home-cover">
            <div class="b-home-cover__inner">
                <div class="b-home-cover__row">
                    <div class="b-col b-col_6 b-col_md-12 b-home-cover__col">
                        <h1 class="b-title-h1 b-title-h1_c-blue b-home-cover__title ">
                            Продавайте онлайн з платіжною системою ConcordPay
                        </h1>
                        <div class="b-marker-list b-marker-list_c-blue b-marker-list_text-md b-home-cover__marker-list">
                            <ul>
                                <li>
                                    Інтернет-еквайринг на сайтах, у мобільних додатках і соцмережах
                                </li>
                                <li>
                                    Підтримка всіх популярних CMS
                                </li>
                                <li>
                                    Просте підключення за 1 день
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="b-button b-button_sm b-button_green b-hover-cover__button">
                            Підключити
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>