<section class="b-section">
    <div class="b-section__container">
        <div class="b-opportunities">
            <div class="b-opportunities__inner">
                <h3 class="b-title-h3 b-title-h3_ta-center b-title-h3_c-blue b-opportunities__title">
                    Можливості для бізнесу
                </h3>
                <div class="b-opportunities__list">
                    <div class="b-opportunities__row">
                        <div class="b-col b-col_4 b-col_md-6 b-opportunities__col">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon1.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Регулярні платежі
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Підключайте зручні платежі за передплатою та отримуйте гроші від клієнтів своєчасно
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_4 b-col_md-6 b-opportunities__col">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon2.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Розділення платежів
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Спростіть розрахунки з постачальниками й партнерами: налаштуйте автоматичний розподіл платіжних сум між контрагентами
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_4 b-col_md-6 b-opportunities__col">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon3.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Платежі зі всього світу
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Отримуйте платежі від власників карток Visa та Mastercard із різних країн. Гроші швидко надійдуть на рахунок та автоматично конвертуються в гривню
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_4 b-col_md-6 b-opportunities__col">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon4.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Інвойсинг
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Відправляйте покупцю посилання електронною поштою, у SMS або через месенджери та моментально отримуйте інформацію про оплату
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_4 b-col_md-6 b-opportunities__col">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon2.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Особистий кабінет
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Контролюйте платежі, формуйте виписки та звіти, аналізуйте продажі. Керуйте одразу декількома проєктами в одному місці з гнучкими можливостями обліку й налаштувань
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-col b-col_4 b-col_md-6 b-opportunities__col">
                            <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon6.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Платіж в один клік
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Зробіть майбутні покупки ваших клієнтів простіше. Система ConcordPay буде пам’ятати необхідні дані покупців уже після першого платежу та підставляти їх в наступні автоматично
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-opportunities__slider">
                    <div class="b-slider">
                        <div class="b-slider__inner">
                            <div class="b-slider__list" data-slider-list="opportunities" data-slider-slide-to-show="1">
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                        <div class="b-gray-card__inner">
                                            <div class="b-gray-card__icons">
                                                <div class="b-gray-card__icons-row">
                                                    <div class="b-gray-card__icon">
                                                        @@include("../../../icon/icon1.svg")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                                Регулярні платежі
                                            </div>
                                            <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                                <p>
                                                    Підключайте зручні платежі за передплатою та отримуйте гроші від клієнтів своєчасно
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon2.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Розділення платежів
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Спростіть розрахунки з постачальниками й партнерами: налаштуйте автоматичний розподіл платіжних сум між контрагентами
                                        </p>
                                    </div>
                                </div>
                            </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon3.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Платежі зі всього світу
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Отримуйте платежі від власників карток Visa та Mastercard із різних країн. Гроші швидко надійдуть на рахунок та автоматично конвертуються в гривню
                                        </p>
                                    </div>
                                </div>
                            </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon4.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Інвойсинг
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Відправляйте покупцю посилання електронною поштою, у SMS або через месенджери та моментально отримуйте інформацію про оплату
                                        </p>
                                    </div>
                                </div>
                            </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon2.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Особистий кабінет
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Контролюйте платежі, формуйте виписки та звіти, аналізуйте продажі. Керуйте одразу декількома проєктами в одному місці з гнучкими можливостями обліку й налаштувань
                                        </p>
                                    </div>
                                </div>
                            </div>
                                </div>
                                <div class="b-slider__item">
                                    <div class="b-gray-card">
                                <div class="b-gray-card__inner">
                                    <div class="b-gray-card__icons">
                                        <div class="b-gray-card__icons-row">
                                            <div class="b-gray-card__icon">
                                                @@include("../../../icon/icon6.svg")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                        Платіж в один клік
                                    </div>
                                    <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                        <p>
                                            Зробіть майбутні покупки ваших клієнтів простіше. Система ConcordPay буде пам’ятати необхідні дані покупців уже після першого платежу та підставляти їх в наступні автоматично
                                        </p>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_prev" data-slider-arrow-prev="opportunities">
                                @@include("../../../icon/chevron-left.svg")
                            </div>
                            <div class="b-slider__arrow b-slider__arrow_next" data-slider-arrow-next="opportunities">
                                @@include("../../../icon/chevron-right.svg")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>