<section class="b-section">
    <div class="b-section__container">
        <div class="b-payment-decisions">
            <div class="b-payment-decisions__inner">
                <h2 class="b-title-h2 b-title-h2_c-green b-payment-decisions__title">
                    Готові платіжні рішення для вашого бізнесу
                </h2>
            </div>
            <div class="b-payment-decisions__list">
                <div class="b-payment-decisions__row">
                    <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-payment-decisions__col">
                        <div class="b-icon-card">
                            <div class="b-icon-card__inner">
                                <div class="b-icon-card__icon">
                                    @@include("../../../icon/icon11.svg")
                                </div>
                                <div class="b-icon-card__main">
                                    <div class="b-icon-card__title b-icon-card__title_c-blue">
                                        Інтернет-магазинам
                                    </div>
                                    <div class="b-icon-card__description b-icon-card__description_c-blue">
                                        <ul>
                                            <li>
                                                Оплата картками Visa, Mastercard і Простір
                                            </li>
                                            <li>
                                                Оплата гаманцями Apple Pay і Google Pay
                                            </li>
                                            <li>
                                                Готові плагіни для платежів
                                            </li>
                                            <li>
                                                Інвойсинг
                                            </li>
                                            <li>
                                                Підтримка
                                            </li>
                                            <li>
                                                Безпека
                                            </li>
                                            <li>
                                                Особистий кабінет
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-payment-decisions__col">
                        <div class="b-icon-card">
                            <div class="b-icon-card__inner">
                                <div class="b-icon-card__icon">
                                    @@include("../../../icon/icon12.svg")
                                </div>
                                <div class="b-icon-card__main">
                                    <div class="b-icon-card__title b-icon-card__title_c-blue">
                                        Бізнесу в соцмережах
                                    </div>
                                    <div class="b-icon-card__description b-icon-card__description_c-blue">
                                        <ul>
                                            <li>
                                                Інвойсинг
                                            </li>
                                            <li>
                                                Підтримка
                                            </li>
                                            <li>
                                                Безпека
                                            </li>
                                            <li>
                                                Особистий кабінет
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-payment-decisions__col">
                        <div class="b-icon-card">
                            <div class="b-icon-card__inner">
                                <div class="b-icon-card__icon">
                                    @@include("../../../icon/icon13.svg")
                                </div>
                                <div class="b-icon-card__main">
                                    <div class="b-icon-card__title b-icon-card__title_c-blue">
                                        Телеком
                                        провайдерам
                                    </div>
                                    <div class="b-icon-card__description b-icon-card__description_c-blue">
                                        <ul>
                                            <li>
                                                Регулярні платежі
                                            </li>
                                            <li>
                                                Платіж в один клік
                                            </li>
                                            <li>
                                                Оплата картками Visa, Mastercard і Простір
                                            </li>
                                            <li>
                                                Оплата гаманцями Apple Pay і Google Pay
                                            </li>
                                            <li>
                                                API для підключення
                                            </li>
                                            <li>
                                                Безпека
                                            </li>
                                            <li>
                                                Підтримка
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-payment-decisions__col">
                        <div class="b-icon-card">
                            <div class="b-icon-card__inner">
                                <div class="b-icon-card__icon">
                                    @@include("../../../icon/icon14.svg")
                                </div>
                                <div class="b-icon-card__main">
                                    <div class="b-icon-card__title b-icon-card__title_c-blue">
                                        Маркетплейсам
                                    </div>
                                    <div class="b-icon-card__description b-icon-card__description_c-blue">
                                        <ul>
                                            <li>
                                                Спліт-платежі
                                            </li>
                                            <li>
                                                Платіж в один клік
                                            </li>
                                            <li>
                                                Оплата картками Visa, Mastercard і Простір
                                            </li>
                                            <li>
                                                Оплата гаманцями Apple Pay і Google Pay
                                            </li>
                                            <li>
                                                API для підключення
                                            </li>
                                            <li>
                                                Особистий кабінет
                                            </li>
                                            <li>
                                                Безпека
                                            </li>
                                            <li>
                                                Підтримка
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-payment-decisions__col">
                        <div class="b-icon-card">
                            <div class="b-icon-card__inner">
                                <div class="b-icon-card__icon">
                                    @@include("../../../icon/icon15.svg")
                                </div>
                                <div class="b-icon-card__main">
                                    <div class="b-icon-card__title b-icon-card__title_c-blue">
                                        Страховим і фінансовим організаціям
                                    </div>
                                    <div class="b-icon-card__description b-icon-card__description_c-blue">
                                        <ul>
                                            <li>
                                                Платіж в один клік
                                            </li>
                                            <li>
                                                Регулярні платежі
                                            </li>
                                            <li>
                                                P2P-платежі
                                            </li>
                                            <li>
                                                Оплата картками Visa, Mastercard і Простір
                                            </li>
                                            <li>
                                                Оплата гаманцями Apple Pay і Google Pay
                                            </li>
                                            <li>
                                                Особистий кабінет
                                            </li>
                                            <li>
                                                Безпека
                                            </li>
                                            <li>
                                                Підтримка
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-payment-decisions__col">
                        <div class="b-icon-card">
                            <div class="b-icon-card__inner">
                                <div class="b-icon-card__icon">
                                    @@include("../../../icon/icon16.svg")
                                </div>
                                <div class="b-icon-card__main">
                                    <div class="b-icon-card__title b-icon-card__title_c-blue">
                                        Мобільним розробникам
                                    </div>
                                    <div class="b-icon-card__description b-icon-card__description_c-blue">
                                        <ul>
                                            <li>
                                                Платіж в один клік
                                            </li>
                                            <li>
                                                Токенізація
                                            </li>
                                            <li>
                                                Оплата гаманцями Apple Pay та Google Pay
                                            </li>
                                            <li>
                                                Особистий кабінет
                                            </li>
                                            <li>
                                                Безпека
                                            </li>
                                            <li>
                                                Підтримка
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-payment-decisions__slider">
                <div class="b-slider">
                    <div class="b-slider__inner">
                        <div class="b-slider__list" data-slider-list="payment-decisions" data-slider-slide-to-show="1">
                            <div class="b-slider__item">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-gray-card__icons">
                                            <div class="b-gray-card__icons-row">
                                                <div class="b-gray-card__icon">
                                                    @@include("../../../icon/icon11.svg")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                            Інтернет-магазинам
                                        </div>
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <ul>
                                                <li>
                                                    Оплата картками Visa, Mastercard і Простір
                                                </li>
                                                <li>
                                                    Оплата гаманцями Apple Pay і Google Pay
                                                </li>
                                                <li>
                                                    Готові плагіни для платежів
                                                </li>
                                                <li>
                                                    Інвойсинг
                                                </li>
                                                <li>
                                                    Підтримка
                                                </li>
                                                <li>
                                                    Безпека
                                                </li>
                                                <li>
                                                    Особистий кабінет
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__item">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-gray-card__icons">
                                            <div class="b-gray-card__icons-row">
                                                <div class="b-gray-card__icon">
                                                    @@include("../../../icon/icon12.svg")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                            Бізнесу в соцмережах
                                        </div>
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <ul>
                                                <li>
                                                    Інвойсинг
                                                </li>
                                                <li>
                                                    Підтримка
                                                </li>
                                                <li>
                                                    Безпека
                                                </li>
                                                <li>
                                                    Особистий кабінет
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__item">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-gray-card__icons">
                                            <div class="b-gray-card__icons-row">
                                                <div class="b-gray-card__icon">
                                                    @@include("../../../icon/icon13.svg")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                            Телеком провайдерам
                                        </div>
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <ul>
                                                <li>
                                                    Регулярні платежі
                                                </li>
                                                <li>
                                                    Платіж в один клік
                                                </li>
                                                <li>
                                                    Оплата картками Visa, Mastercard і Простір
                                                </li>
                                                <li>
                                                    Оплата гаманцями Apple Pay і Google Pay
                                                </li>
                                                <li>
                                                    API для підключення
                                                </li>
                                                <li>
                                                    Безпека
                                                </li>
                                                <li>
                                                    Підтримка
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__item">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-gray-card__icons">
                                            <div class="b-gray-card__icons-row">
                                                <div class="b-gray-card__icon">
                                                    @@include("../../../icon/icon14.svg")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                            Маркетплейсам
                                        </div>
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <ul>
                                                <li>
                                                    Спліт-платежі
                                                </li>
                                                <li>
                                                    Платіж в один клік
                                                </li>
                                                <li>
                                                    Оплата картками Visa, Mastercard і Простір
                                                </li>
                                                <li>
                                                    Оплата гаманцями Apple Pay і Google Pay
                                                </li>
                                                <li>
                                                    API для підключення
                                                </li>
                                                <li>
                                                    Особистий кабінет
                                                </li>
                                                <li>
                                                    Безпека
                                                </li>
                                                <li>
                                                    Підтримка
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__item">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-gray-card__icons">
                                            <div class="b-gray-card__icons-row">
                                                <div class="b-gray-card__icon">
                                                    @@include("../../../icon/icon15.svg")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                            Страховим і фінансовим організаціям
                                        </div>
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <ul>
                                                <li>
                                                    Платіж в один клік
                                                </li>
                                                <li>
                                                    Регулярні платежі
                                                </li>
                                                <li>
                                                    P2P-платежі
                                                </li>
                                                <li>
                                                    Оплата картками Visa, Mastercard і Простір
                                                </li>
                                                <li>
                                                    Оплата гаманцями Apple Pay і Google Pay
                                                </li>
                                                <li>
                                                    Особистий кабінет
                                                </li>
                                                <li>
                                                    Безпека
                                                </li>
                                                <li>
                                                    Підтримка
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-slider__item">
                                <div class="b-gray-card">
                                    <div class="b-gray-card__inner">
                                        <div class="b-gray-card__icons">
                                            <div class="b-gray-card__icons-row">
                                                <div class="b-gray-card__icon">
                                                    @@include("../../../icon/icon16.svg")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-text-md b-text-md_ta-center b-text-md_c-blue b-gray-card__title">
                                            Мобільним розробникам
                                        </div>
                                        <div class="b-text-sm b-text-sm_ta-center b-text-sm_c-blue b-gray-card__description">
                                            <ul>
                                                <li>
                                                    Платіж в один клік
                                                </li>
                                                <li>
                                                    Токенізація
                                                </li>
                                                <li>
                                                    Оплата гаманцями Apple Pay та Google Pay
                                                </li>
                                                <li>
                                                    Особистий кабінет
                                                </li>
                                                <li>
                                                    Безпека
                                                </li>
                                                <li>
                                                    Підтримка
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__arrow b-slider__arrow_prev" data-slider-arrow-prev="payment-decisions">
                            @@include("../../../icon/chevron-left.svg")
                        </div>
                        <div class="b-slider__arrow b-slider__arrow_next" data-slider-arrow-next="payment-decisions">
                            @@include("../../../icon/chevron-right.svg")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>