<section class="b-section b-section_test-pay-system">
    <div class="b-section__container">
        <div class="b-test-pay-system b-test-pay-system_bgc-light">
            <img src="./assets/img/home-test-pay-system-background.png" class="b-test-pay-system__background-image">
            <div class="b-test-pay-system__inner">
                <h2 class="b-title-h2 b-title-h2_c-blue b-test-pay-system__title">
                    Тестувати платіжну систему ConcordPay
                </h2>
                <div class="b-text-md b-text-md_c-blue b-test-pay-system__description">
                    <p>
                        Бажаєте дізнатись, як працює платіжна система? Спробуйте ConcordPay без обмежень за функціями.
                    </p>
                    <p>
                        Система активна відразу.
                    </p>
                    <p>
                        Тестувати оплати можна карткою будь-якого банку. Кошти за тестовими операціями будуть повернуті.
                    </p>
                </div>
                <div class="b-test-pay-system__buttons">
                    <a href="#" class="b-button b-button_sm b-button_green b-test-pay-system__button">
                        Спробувати
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>