.b-category-list {
  @include section-inner-offset;
}

.b-category-list__inner {
}

.b-category-list__title {
  margin-bottom: #{$offset * 3};
  padding-left: #{$offset / 2};
  font-weight: 700;
}

.b-category-list__list {
  & .b-col {
    padding: #{$offset} #{$offset / 2};
  }

  @include xs {
    display: none;
  }
}

.b-category-list__slider {
  display: none;
  @include xs {
    display: block;
    width: 100vw;
    margin-left: calc((100vw - 420px + 40px) / -2);
  }
  @media (max-width: 420px) {
    margin-left: #{$offset * -1};
  }
}